html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  background-color: #151515;
}
.header-main {
  /*background-color: transparent;*/
}
.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__list {
  display: flex;
  flex-direction: raw;
  gap: 35px;
}
.menu__list-link {
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #ffffff;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.footer__menu-list {
  max-width: 250px;
}
.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
}
.footer__menu-item + .footer__menu-item {
  padding: 20px;
}
.apps__links {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 52px;
}
.footer__copy {
  font-size: 12px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px;
}
.copy__nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
